.comment {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.comment__info {
  margin-left: 10px;
}

.comment__info h4 {
  font-size: 12px;
  font-weight: 600;
}

.comment__info p {
  font-size: 12px;
}
