.sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2vw 1vw;
    height: 100vh;
    position: sticky;
    top: 0;
    flex: 0.19;
    border-right: 1px solid #787777;
}

.logo{
    width: 150px;
}

.profile__img{
    border-radius: 50%;
}

.sidebar__bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}