* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  color: #fff;
}
html,
body {
  background-color: #000000;
}
p {
  color: #a8a8a8;
}

@media (max-width: 600px) {
  .login__container {
    width: 90vw;
    padding: 10vw;
  }
  .login__container > img {
    width: 70vw;
  }
  .login__container > form > input {
    width: 70vw;
    font-size: 5vw;
    padding: 1vw;
  }
  .login__container > form > button {
    width: 70vw;
    font-size: 5vw;
    padding: 1vw;
  }
  .forgot__pass {
    font-size: 4vw;
  }
  .signUp__p {
    font-size: 4vw;
  }
  .sign__up {
    font-size: 4vw;
  }
}

@media (max-width: 1200px) {
  .logo {
    display: none;
  }
  .sidebarItem p {
    display: none;
  }
  .sidebar {
    flex: 0;
    padding: 2vw;
  }
  .feed {
    flex: 0.8;
  }
  .upload__content {
    width: 500px;
  }
}

@media (max-width: 650px) {
  .upload__content {
    width: 300px;
    margin-top: 100px;
    height: fit-content;
  }
  .upload__section {
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .upload__content {
    width: fit-content;
    margin-top: 100px;
    height: fit-content;
  }
}

@media (max-width: 1100px) {
  .widgets {
    display: none;
  }
  .feed {
    flex: 1;
  }
}

@media (max-width: 750px) {
  .stories {
    width: 70vw;
  }
  .post {
    width: 70vw;
  }
}

@media (max-width: 450px) {
  .story__img {
    width: 50px;
    height: 50px;
  }
  .sidebar {
    padding-top: 20px;
  }
  .sidebar img {
    width: 25px;
  }
  .profile__img {
    width: 25px !important;
    height: 25px !important;
  }
  .post__header h2 {
    font-size: 20px;
  }
  .post__profileImg {
    width: 30px !important;
    height: 30px !important;
  }
  .post__profileImg {
    font-size: 15px !important;
  }

  .actions img {
    width: 20px;
  }
  .heart__icon {
    width: 23px !important;
    height: 23px !important;
  }

  .add__comment input {
    font-size: 3vw;
  }
  .submit__comment {
    font-size: 3vw;
  }
}
